.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    >* {
        flex: 1;
    }
}

.set-card {
    margin-top: 1rem;
    border: 1px solid #e4e4e7;
    border-radius: 14px;
    background: white;
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;

    .card-header {
        padding: 20px 20px 0 20px;
    }

    .card-title {
        font-size: 18px;
        font-weight: 600;
    }

    .card-description {
        font-size: 13px;
        color: #71717a;
        margin-top: 4px;
    }

    .card-content {
        padding: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
            font-size: 14px;
            font-weight: 500;
        }

        input {
            border: 1px solid #e4e4e7;
            border-radius: 8px;
            padding: 10px 12px;
            font-size: 14px;

            &:focus {
                outline: none;
                border-color: oklch(0.45 0.18 260);
            }
        }

        .input-error {
            margin: 0;
            font-size: 0.8rem;
            color: #ef4444;
            font-weight: 500;
        }
    }

    .room-types {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 200px));
        gap: 12px;

        justify-content: center;
    }

    .type-card {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        width: 100%;
        max-width: 450px;

        border: 2px solid #e4e4e7;
        border-radius: 12px;
        padding: 14px;

        background: white;
        cursor: pointer;
        transition: all 0.2s;

        text-align: left;

        &:hover {
            border-color: #c7c7ff;
        }

        &.active {
            border-color: oklch(0.45 0.18 260);
            background: oklch(0.45 0.18 260 / .1);
        }

        .title {
            font-size: 14px;
            font-weight: 500;
        }

        .desc {
            font-size: 12px;
            color: #71717a;
        }
    }

    .icon {
        width: 36px;
        height: 36px;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 16px;

        &.public {
            background-color: oklch(0.55 0.16 145 / 0.1);

            svg {
                stroke: oklch(0.55 0.16 145);
            }
        }

        &.private {
            background-color: oklch(0.75 0.15 65 / 0.1);

            svg {
                stroke: oklch(0.75 0.15 65);
            }
        }
    }

    .save-btn {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: oklch(0.45 0.18 260);
        color: white;

        border: none;
        border-radius: 8px;

        font-size: 14px;
        font-weight: 600;

        cursor: pointer;
        transition: all 0.18s ease;

        /* Hover */
        &:hover:not(:disabled) {
            background: oklch(0.40 0.18 260);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
            transform: translateY(-1px);
        }

        &:active:not(:disabled) {
            transform: translateY(0);
            box-shadow: none;
        }

        /* Disabled */
        &:disabled {
            background: #e5e7eb;
            color: #9ca3af;
            cursor: not-allowed;
            transform: none;
            box-shadow: none;
        }

        /* Spinner */
        .spinner {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18px;
            width: 18px;
        }

        svg {
            width: 18px;
            height: 18px;
            transform-origin: center;
            animation: rotate4 2s linear infinite;
        }

        circle {
            fill: none;
            stroke: white;
            stroke-width: 4;
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
            animation: dash4 1.5s ease-in-out infinite;
        }

        @keyframes rotate4 {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes dash4 {
            0% {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
            }

            50% {
                stroke-dasharray: 90, 200;
                stroke-dashoffset: -35px;
            }

            100% {
                stroke-dashoffset: -125px;
            }
        }
    }
}